
main
{
   flex-direction: column;
}

header
{
   background-color: transparent;
   flex-direction: column;
}

p
{
    background-color: transparent;
    font-size: 20px;
    margin-top: 5%;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: monospace;
}

.enlace 
{
    display:block;
    margin-top: 5%;
    padding: 10px 20px;
    background: #E3CB52;  
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    font-family: monospace;
}

