header1
{
    margin: auto;
    background-color: #E3AD52;
    height: 100px;
    width: 100%;
    /*a la caja grande le pongo el display flex para organizar
    las cajas de adentro*/
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}

#barraparatitulo
{
    background-color: #5852E3;
    height: 30px;;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Contiene los titulos de  cinematica y los creditos*/
nav
{
    /*background: #908e8e; */
    background: #8d8be3;
    height:25px;
    width:10%;
    display: flex;
    align-items: center;
    border-radius: 20PX 20PX;
}

/*caja que contiene la imagen del logo*/
#logotitulo 
{
    background: #ffffff;
    width: 11%;
    height: 10;
    display: flex;
    align-items: center;
    justify-content:center; 
}

/*imagen de logo*/
im
{
    margin: auto;
}

/*Caja de color que Contiene el titulo de sprint du chef*/
h1
{
    /*background:  #548989;*/
    background: #E3AD52;
    width: 15%;
    height: 14xp;
    font-size: 20px;
    font-weight:bold;
    text-align: center;
    margin: auto;
    border-radius: 20PX 20PX;
}







